<ion-header>
    <ion-navbar>
        <ion-title end>Filters</ion-title>
        <ion-buttons end margin-left>
            <button ion-button clear>
            Reset
            </button>
            <!--
<button (click)="close()" ion-button clear>
            Close
            </button>
-->
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines>
        <ion-list-header>
            Location
        </ion-list-header>
        <ion-item>
            <ion-input type="text" value="" placeholder="add more"></ion-input>
            <ion-buttons item-end margin-left margin-right>
                <ion-icon name="md-locate"></ion-icon>
            </ion-buttons>
        </ion-item>
        <ion-list-header>
            Property Type
        </ion-list-header>
        <ion-item>
            <ion-select [(ngModel)]="gaming1" block>
                <ion-option value="p1">Appartment & Unit</ion-option>
                <ion-option value="p2">Appartment</ion-option>
                <ion-option value="p3">Unit</ion-option>
            </ion-select>
        </ion-item>
        <ion-list-header>
            Budget
        </ion-list-header>
        <ion-item>
            <ion-item>
                <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
                </ion-range>
            </ion-item>
        </ion-item>
        <ion-list-header>
            Bedrooms
        </ion-list-header>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Min</ion-label>
                    <ion-select [(ngModel)]="gaming2" block>
                        <ion-option value="b1">1</ion-option>
                        <ion-option value="b2">2</ion-option>
                        <ion-option value="b3">3</ion-option>
                        <ion-option value="b4">4</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Max</ion-label>
                    <ion-select [(ngModel)]="gaming3" block>
                        <ion-option value="b5">2</ion-option>
                        <ion-option value="b6">3</ion-option>
                        <ion-option value="b7">4</ion-option>
                        <ion-option value="b8">5</ion-option>
                        <ion-option value="b9">6</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
    <button ion-button block>Find 300+ Properties</button>
</ion-content>
