<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>About us</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="header-logo">
        <figure>
            <img src="assets/imgs/logo.png">
        </figure>
        <ion-icon name="md-call" (click)="contact()"></ion-icon>
    </div>
    <div class="about-text">
        <h2>About Proprty Hub</h2>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text. Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
    </div>

</ion-content>
