page-about {
    ion-header {
        .toolbar-title,
        .icon {
            color: lighten($black, 60%);
        }
    }
    .scroll-content {
        margin-top: 0 !important;
    }
    .header-logo {
        background-image: url(../assets/imgs/homebanner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 1px;
        position: relative;
        min-height: 320px;
        figure {
            width: 125px;
            height: 128px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        ion-icon {
            position: absolute;
            bottom: -30px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            right: 20px;
            font-size: 3rem;
            color: $theme;
            background-color: lighten($black, 60%);
            box-shadow: -1px 18px 50px -15px lighten($black, 20%);
        }
    }
    .about-text {
        padding: 26px 21px;
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 0px;
        }
        p {
            font-size: 1.4rem;
            color: lighten($black, 25%);
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}
