    page-register {
        .scroll-content {
            padding-left: 32px !important;
            padding-right: 32px !important;
            h4 {
                font-size: 1.8rem;
                color: darken($black, 20%);
                margin-bottom: -.5rem;
            }
            p {
                color: lighten($black, 20%);
            }
            .register {
                .form {
                    margin-bottom: 2rem;
                    margin-top: 4rem;
                    .item {
                        min-height: unset;
                        .icon+.item-inner {
                            margin: 0;
                            font-size: 1.4rem;
                            ion-radio {
                                width: 0px;
                            }
                        }
                        .bar-buttons {
                            font-size: 1.4rem;
                            color: lighten($black, 40%);
                        }
                    }
                    .item+.item {
                        margin-top: 1rem;
                    }
                    &.row {
                        .item {
                            min-height: unset;
                            border-radius: 5px 0px 0px 5px !important;
                            color: lighten($black, 20%);
                            &:last-child {
                                border-radius: 0px 5px 5px 0px !important;
                                margin-left: -1px;
                            }
                            .icon {
                                margin-top: auto;
                                margin-bottom: auto;
                                font-size: 1.5rem;
                                min-height: unset;
                                color: lighten($black, 20%);
                            }
                            &.item-radio-checked {
                                color: $theme;
                                .icon {
                                    margin-top: auto;
                                    margin-bottom: auto;
                                    font-size: 1.5rem;
                                    min-height: unset;
                                    color: $theme;
                                }
                            }
                        }
                    }
                    .form+.button {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
