<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h4 text-center>New on Ambala Property</h4>
    <p text-center>Registered with us in just few step</p>


    <div class="register">
        <ion-list no-lines radio-group class="form row">
            <ion-list-header>
                I am
            </ion-list-header>
            <ion-item col-6>
                <ion-icon name="md-person" item-start></ion-icon>
                <ion-label>Individual</ion-label>
                <ion-radio checked="false" (ionSelect) = "individualSelected()" value="Individual" style="opacity: 0;"></ion-radio>
            </ion-item>
            <ion-item col-6>
                <ion-icon name="md-home" item-start></ion-icon>
                <ion-label>Agent</ion-label>
                <ion-radio value="Agent" (ionSelect) = "agentSelected()" style="opacity: 0;"></ion-radio>
            </ion-item>
        </ion-list>


        <ion-list no-lines class="form">
            <ion-list-header>
                Your mobile number
            </ion-list-header>
            <ion-item>
                <ion-input type="tel" placeholder="Enter your 10 digit Number"  [(ngModel)] ="phonenumber"></ion-input>
            </ion-item>
        </ion-list>


        <ion-list no-lines class="form">
            <ion-list-header>
                Your detail
            </ion-list-header>
            <ion-item>
                <ion-input type="text" inputmode = "text" required = true placeholder="Full Name" [(ngModel)]="fullname" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="email" inputmode ="email" placeholder="Email Address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password"  required = true placeholder="Password"></ion-input>
                <ion-buttons item-end>
                    Show
                </ion-buttons>
            </ion-item>
        </ion-list>

    </div>
    <button ion-button block (click)="verification()">Register</button>
</ion-content>
