<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <h4 text-center>Verify your number, {{fullname}}</h4>

    <p text-center>Enter 6 digit verification code sent on your number {{phonenumber}}</p>

    <!-- <ion-input type="text" placeholder="Verification code" [(ngModel)]="code"></ion-input> -->
     <ion-list no-lines class="form row">
        <ion-item col-2>
            <ion-input type="tel" #value1  text-center maxlength="1"></ion-input>
        </ion-item>
        <ion-item col-2>
            <ion-input type="tel" #value2  text-center maxlength="1"></ion-input>
        </ion-item>
        <ion-item col-2>
            <ion-input type="tel" #value3  text-center maxlength="1"></ion-input>
        </ion-item>
        <ion-item col-2>
            <ion-input type="tel" #value4  text-center maxlength="1"></ion-input>
        </ion-item>
        <ion-item col-2>
            <ion-input type="tel" #value5  text-center maxlength="1"></ion-input>
        </ion-item>
        <ion-item col-2>
            <ion-input type="tel" #value6  text-center maxlength="1"></ion-input>
        </ion-item>

    </ion-list>
    <button ion-button block (click)="home(value1,value2,value3,value4,value5,value6)">Verify Number</button>
    <ion-item no-padding no-lines class="text">
        01:05 min left
        <ion-buttons item-end style="margin-right: 0;">Resend</ion-buttons>
    </ion-item>
</ion-content>
