page-verification {
    .scroll-content {
        padding-left: 32px !important;
        padding-right: 32px !important;
        h4 {
            font-size: 1.8rem;
            color: darken($black, 20%);
            margin-bottom: -.5rem;
        }
        p {
            color: lighten($black, 20%);
            max-width: 200px;
            margin: 2rem auto 3rem;
        }
        .form {
            margin-bottom: 2rem;
            &.row {
                width: 240px;
                margin-left: auto;
                margin-right: auto;
                .item {
                    border: none !important;
                    padding: 0;
                    max-width: 60px;
                    .input {
                        border: 1px solid lighten($black, 45%) !important;
                        border-radius: 5px;
                    }
                    .item-inner {
                        padding: 0 5px;
                    }
                }
            }
        }
        .form+.button {
            margin-bottom: 1.5rem;
        }
    }
    .text {
        color: lighten($black, 20%);
        font-size: 1.5rem;
        ion-buttons {
            color: darken($black, 25%);
        }
    }
}
