<ion-header>
    <ion-navbar>
        <ion-list no-margin no-lines no-padding>
            <ion-item no-padding>
                <ion-avatar item-start>
                    <img src="assets/imgs/Layer30.png" />
                </ion-avatar>
                <h2>Johan deo</h2>
            </ion-item>
        </ion-list>
        <ion-buttons end>
            <button ion-button clear padding (click)="showDetail()">
                <ion-icon *ngIf="detail" name="ios-arrow-up"></ion-icon>
                <ion-icon *ngIf="!detail" name="ios-arrow-down"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div [ngClass]="detail ? 'few-detail show' : 'few-detail'">
        <ion-list>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="assets/imgs/Layer4.png" />
                </ion-thumbnail>
                <h2>Alise Altezza</h2>
                <p>Near worli sea link, worli, Mumbai.</p>
                <ion-row>
                    <ion-col col-6>
                        <h4>$750k</h4>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <h4 class="small">View more</h4>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
    <div class="chat-board">
        <ul>
            <li>
                <div class="send">
                    <p>Hellow! I am interested in this property.</p>
                    <span class="time">1:24 pm</span>
                </div>
            </li>
            <li>
                <div class="recive">
                    <p>Hey! I really appreciate yourchoice of home.</p>
                    <span class="time">1:25 pm</span>
                </div>
            </li>
            <li>
                <div class="send">
                    <div class="img">
                        <img src="assets/imgs/Layer23.png" />
                    </div>
                    <p>Really like the parking space at front.</p>
                    <span class="time">1:26 pm</span>
                </div>
            </li>
        </ul>
    </div>

    <ion-list class="footer">
        <ion-item>
            <ion-input type="text" value="" placeholder="Write your message"></ion-input>
            <ion-buttons item-end>
                <button ion-button clear>
                    <ion-icon name="md-attach"></ion-icon>
                </button>
                <button ion-button clear>
                    <ion-icon name="md-happy"></ion-icon>
                </button>
                <button ion-button clear>
                    <ion-icon name="md-send"></ion-icon>
                </button>
            </ion-buttons>

        </ion-item>
    </ion-list>
</ion-content>