page-chat {
    ion-header {
        background-color: lighten($black, 60%);
    }
    .few-detail {
        position: absolute;
        width: 100%;
        padding: 1px;
        padding-bottom: 10px;
        background-color: lighten($black, 60%);
        display: none;
        &.show {
            display: block;
            z-index: 999;
        }
        .list {
            margin-bottom: 0;
        }
        .item {
            ion-thumbnail {
                width: 120px;
                border-radius: 5px;
                overflow: hidden;
                img {
                    width: 120px;
                }
            }
            .label {
                margin-top: 8px;
                margin-bottom: 8px;
                h2 {
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: darken($black, 40%);
                }
                p {
                    font-size: 1.3rem;
                    color: lighten($black, 20%);
                    margin-top: 8px;
                    margin-bottom: 16px;
                }
                .row {
                    padding: 0;
                    .col {
                        padding: 5px 0 0;
                        h4 {
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: darken($black, 40%);
                            &.small {
                                color: $theme;
                                font-size: 1.4rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    .chat-board {
        padding: 16px 16px 80px 16px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: block;
                clear: both;
                margin-bottom: 0px;
                &::before,
                &::after {
                    display: block;
                    content: '';
                    height: 1px;
                    clear: both;
                }
                div {
                    width: auto;
                    border-radius: 5px;
                    padding: 13px 16px;
                    max-width: 240px;
                    clear: both;
                    margin-bottom: 10px;
                    position: relative;
                    overflow: hidden;
                    p {
                        margin: 0;
                        margin-bottom: 8px;
                        font-size: 1.5rem;
                        line-height: 1.5;
                    }
                    span {
                        display: block;
                        line-height: 2px;
                        text-align: right;
                        font-size: 12px;
                        color: lighten($black, 50%)
                    }
                    &.send {
                        background-color: lighten($black, 60%);
                        float: right;
                        color: lighten($black, 20%)
                    }
                    &.recive {
                        color: lighten($black, 60%);
                        float: left;
                        background-color: $theme;
                    }
                    .img {
                        padding: 0;
                        margin: -13px -16px 10px;
                    }
                }
            }
        }
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        margin-bottom: 0;
        .item {
            border: none !important;
            box-shadow: none !important;
        }
        .button {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
