<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="profile-img">
        <img src="assets/imgs/Layer30.png">
        <h1>{{name}}</h1>
        <ion-icon name="md-create" (click)="profileedit()"></ion-icon>
    </div>
    <ion-list class="contact" no-lines>
        <ion-item>
            <ion-label stacked>Email Address</ion-label>
            <ion-input type="email" value="johandeo123@gmail.com" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input type="text" value="+91 9087654321" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Residence City</ion-label>
            <ion-input type="text" value="Andheri (E), Maharastra" disabled></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
