page-profile {
    ion-header {
        .toolbar-title,
        .icon {
            color: lighten($black, 60%);
        }
    }
    .scroll-content {
        margin-top: 0 !important;
    }
    .profile-img {
        position: relative;
        width: 100%;
        height: 50vh;
        img {
            height: 100%;
            min-width: 100%;
            max-width: unset;
            width: auto;
        }
        ion-icon {
            position: absolute;
            bottom: -30px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            right: 20px;
            font-size: 3rem;
            color: lighten($black, 60%);
            background-color: $theme;
            box-shadow: -1px 18px 50px -15px lighten($black, 20%);
            z-index: 2;
        }
        h1 {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: lighten($black, 60%);
            padding: 16px 20px;
            font-weight: 400;
            z-index: 2;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(183, 74, 255, 0.5) 100%);
        }
    }
    .contact {
        padding: 16px;
        margin-top: 10px;
        position: relative;
        z-index: -1;
        .item {
            margin-bottom: 10px;
            border: none!important;
        }
        .label {
            color: darken($black, 40%);
            font-size: 1.6rem;
            font-weight: 600;
        }
        .text-input {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}
