page-result {
    .bg-theme {
        p {
            &.small {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
    .row {
        box-shadow: 0px 0px 8px 0px $black;
        padding: 0;
        background-color: lighten($black, 60%);
        .col {
            &.border {
                border-right: 1px solid lighten($black, 45%);
            }
            padding: 0;
            button {
                margin: 0;
                * {
                    color: darken($black, 5%);
                    font-weight: 500;
                }
            }
        }
    }
    .no-data {
        width: 250px;
        margin: auto;
        height: 230px;
        color: lighten($black, 20%);
        top: 0;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        figure {
            margin-bottom: 4rem;
            margin-top: 0;
        }
        strong {
            color: $theme;
        }
    }
    .ion-md-swap:before {
        transform: rotate(90deg);
    }
}
