<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Sale
            <p no-margin ion-text class="small">330 properties</p>
        </ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="chatlist()">
            <ion-icon name="md-chatbubbles"></ion-icon>
            </button>
            <button ion-button clear>
                <ion-icon name="md-map"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-row>
        <ion-col (click)="openMenu()" class="border">
            <button ion-button full clear>
                <ion-icon name="md-swap" margin-right></ion-icon>
              Sort
            </button>
        </ion-col>
        <ion-col (click)="filters()">
            <button ion-button full clear>
                <ion-icon name="md-options" margin-right></ion-icon>
              Filter
            </button>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content class="bg-light">
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <div class="no-data" text-center style="display: none;">
        <figure>
            <img src="assets/imgs/placeholder.png">
        </figure>
        <h6>Oops ! No properties to show</h6>
        <p>Set alert for property in area you've selected. We'll notify you when any property will available in this area.</p>
        <strong>Notify Me</strong>

    </div>
</ion-content>
