page-chatlist {
    ion-list.list {
        margin-top: 10px;
        .item {
            margin: 4px 5px;
            border-radius: 5px;
            width: calc(100% - 10px);
            padding-top: 5px;
            padding-bottom: 5px;
            &.unread {
                h2 {
                    color: $theme;
                }
            }
            h2 {
                font-size: 1.7rem;
                font-weight: 500;
                color: $black;
            }
            p {
                color: lighten($black, 35%);
                font-size: 1.2rem;
                margin-top: 5px;
            }
            ion-avatar {
                width: 55px;
                height: 55px;
                position: relative;
                img {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -50%;
                    right: -50%;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
                ion-badge {
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    margin: 0;
                    border-radius: 50%;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 1rem;
                    font-weight: 200;
                }
            }
            ion-note {
                margin-top: 16px;
                margin-bottom: auto;
                font-size: 1.25rem;
            }
        }
    }
}
