<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Messages</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item (click)="chat()" class="unread">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
                <ion-badge item-end>2</ion-badge>
            </ion-avatar>
            <h2>Jhonson Smith</h2>
            <p>Sorry to say Price is not negotiable</p>
            <ion-note item-end>Just now</ion-note>
        </ion-item>
        <ion-item (click)="chat()" class="unread">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
                <ion-badge item-end>2</ion-badge>
            </ion-avatar>
            <h2>Emili Willams</h2>
            <p>This town ain't big enough for the two of us!</p>
            <ion-note item-end>5 mint ago</ion-note>
        </ion-item>
        <ion-item (click)="chat()">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
            </ion-avatar>
            <h2>Jhonson Smith</h2>
            <p>This town ain't big enough for the two of us!</p>
            <ion-note item-end>12:23pm</ion-note>
        </ion-item>
        <ion-item (click)="chat()">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
            </ion-avatar>
            <h2>Emili Willams</h2>
            <p>This town ain't big enough for the two of us!</p>
            <ion-note item-end>12:23am</ion-note>
        </ion-item>
        <ion-item (click)="chat()">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
            </ion-avatar>
            <h2>Jhonson Smith</h2>
            <p>This town ain't big enough for the two of us!</p>
            <ion-note item-end>Today</ion-note>
        </ion-item>
        <ion-item (click)="chat()">
            <ion-avatar item-start>
                <img src="assets/imgs/Layer30.png">
            </ion-avatar>
            <h2>Emili Willams</h2>
            <p>This town ain't big enough for the two of us!</p>
            <ion-note item-end>04-Oct-18</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
