page-contact {
    ion-header {
        .toolbar-title,
        .icon {
            color: lighten($black, 60%);
        }
    }
    .scroll-content {
        margin-top: 0 !important;
    }
    .header-logo {
        background-image: url(../assets/imgs/homebanner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 1px;
        position: relative;
        min-height: 320px;
        figure {
            width: 125px;
            height: 128px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        p {
            color: lighten($black, 60%);
            position: absolute;
            bottom: 30px;
            width: 220px;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    .form {
        padding: 32px;
        .item {
            margin-bottom: 10px;
        }
    }
}
