<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Contact us</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="header-logo" text-center>
        <figure>
            <img src="assets/imgs/logo.png">
        </figure>
        <p>Have any question or comments? Let us know.</p>
    </div>
    <ion-list no-lines class="form" style="padding-bottom: 0;">
        <ion-item>
            <ion-input type="text" placeholder="Your Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Email or Phone Number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea placeholder="Your Message" style="height: 8rem;"></ion-textarea>
        </ion-item>
    </ion-list>
    <div class="form" style="padding-bottom: 0;padding-top: 0;">
        <button ion-button block>Send</button>
    </div>

</ion-content>
