page-fogotpassword {
    .scroll-content {
        padding-left: 32px !important;
        padding-right: 32px !important;
        h4 {
            font-size: 1.8rem;
            color: darken($black, 20%);
            margin-bottom: -.5rem;
        }
        p {
            color: lighten($black, 20%);
            max-width: 250px;
            margin: 2rem auto 3rem;
        }
        h3 {
            font-weight: 600;
            color: $theme;
            font-size: 1.6rem;
        }
        .form+.button {
            margin-bottom: 2rem;
        }
    }
}
