<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h4 text-center>Forgot Password?</h4>
    <p text-center>Enter your email below to receive your password reset instructions</p>
    <ion-list no-lines class="form row">
        <ion-item>
            <ion-input type="email" placeholder="Email address"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="verification()">Send</button>

    <h3 text-center (click)="signin()">Back to login</h3>

</ion-content>
