<!-- showview true then AgentFormBlock else IndividualBlock !-->
<div *ngIf ="showView == 'agent'; then AgentFormBlock; else IndividualBlock"></div>

  <!-- view for Individual -->
  <ng-template #IndividualBlock>
    <ion-header class="bg-home">
       <ion-navbar>
           <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
       </button>
           <ion-title>PropertHub</ion-title>
           <ion-buttons end>
               <button ion-button clear (click)="chatlist()">
               <ion-icon name="md-chatbubbles"></ion-icon>
               </button>

               <button ion-button clear (click)="notification()">
                   <ion-icon name="md-notifications"></ion-icon>
               </button>
           </ion-buttons>
       </ion-navbar>

       <p text-center>Real Estate</p>
       <h1 text-center>Made Simple</h1>
       <div class="option">
           <ion-segment [(ngModel)]="option">
               <ion-segment-button value="buy">
                   Buy
               </ion-segment-button>
               <ion-segment-button value="rent">
                   Rent
               </ion-segment-button>
               <!-- <ion-segment-button value="sell">
                   Sell
               </ion-segment-button> -->
           </ion-segment>
           <ion-searchbar (click)="search()" placeholder="Search by location, property, landmark, etc..."></ion-searchbar>
       </div>
   </ion-header>

   <ion-content padding-top class="bg-light">
       <h6 padding>Featured Properties</h6>
       <div [ngSwitch]="option">
           <ion-list *ngSwitchCase="'buy'">
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
           </ion-list>

           <ion-list *ngSwitchCase="'rent'">
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
           </ion-list>
           <ion-list *ngSwitchCase="'sell'">
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
               <ion-card class="items-div" (click)="detail()">
                   <ion-icon name="md-heart" class="like"></ion-icon>
                   <ion-scroll scrollX class="scrol-items-div">
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer4.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer2.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer23.png" />
                       </div>
                       <div class="scroll-item">
                           <img src="assets/imgs/Layer6.png" />
                       </div>
                   </ion-scroll>

                   <ion-card-content>
                       <ion-list>
                           <button ion-item no-padding>
                               Alise Altezza<br>
                               <small>Near worli sea link, worli, Mumbai.</small>
                               <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                           </button>
                       </ion-list>
                   </ion-card-content>
               </ion-card>
           </ion-list>
       </div>

   </ion-content>
  </ng-template>

  <!-- Form for agent -->
  <ng-template #AgentFormBlock>
    <ion-header>
        <ion-navbar color ="primary">
            <ion-title text-center >AGY AMBALA REAL ESTATE FORM</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
    <form>
         <ion-item>
           <ion-label>Property Information</ion-label>
         </ion-item>
         <ion-item>
           <ion-label floating>Property Name:</ion-label>
           <ion-input type="text"  ></ion-input>
         </ion-item>
         <ion-item>
           <ion-label floating>Location:</ion-label>
           <ion-input type="text" ></ion-input>
         </ion-item>

           <ion-list>
      <ion-list-header>
        Type of Building:
      </ion-list-header>
        <ion-item>
          <ion-label>Apartment</ion-label>
          <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Compound House</ion-label>
          <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Self Compound House</ion-label>
          <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Apartment</ion-label>
          <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-list-header>
            Number Of Bedrooms:
        </ion-list-header>
        <ion-item>
            <ion-label>3 bedrooms</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>2 bedrooms</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>1 bedrooms</ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea name="description"></ion-textarea>
        </ion-item>
  
  


         </ion-list>

          <button ion-button large  outline (click)="accessGallery()">Acesss Property Gallery</button>
         <img [src]="base64Image" *ngIf="base64Image" />
         <button ion-button full (click)= "upload()"  *ngIf="base64Image">Upload</button>
        <button ion-button type="submit" block>List Property</button>
       </form>
    </ion-content>
  </ng-template>
