page-home {
    .bg-home {
        .toolbar-title,
        .bar-button,
        .bar-buttons {
            color: lighten($black, 60%);
        }
        p {
            margin-bottom: 0;
        }
        h1 {
            margin-top: 5px;
        }
        color: lighten($black, 60%);
        background-image: url(../assets/imgs/homebanner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -50px;
        padding: 1px;
        background-color: lighten($black, 53%);
        .option {
            background-color: lighten($black, 60%);
            margin-left: 32px;
            margin-right: 32px;
            margin-top: 32px;
            margin-bottom: 10px;
            border-radius: 10px;
            height: 100px;
            overflow: hidden;
            box-shadow: -1px 18px 50px -15px #999999;
            .segment {
                .segment-button {
                    height: 50px;
                    color: lighten($black, 6%);
                    text-transform: none;
                    font-size: 1.25rem;
                }
            }
            .searchbar {
                padding: 0;
                .searchbar-input {
                    font-size: 1.4rem;
                    padding: 10px 50px;
                }
                .searchbar-search-icon {
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    
    .scroll-content {
        h6 {
            font-weight: 600;
            color: darken($black, 4%);
            margin-bottom: -10px;
            font-size: 15px;
            margin-top: -16px;
        }
    }
    .segment-ios .segment-button {
        background-color: lighten($black, 60%) !important;
        line-height: 50px;
    }
    .segment-ios .segment-button.segment-activated {
        color: lighten($black, 60%) !important;
        background-color: $theme !important;
    }
    .searchbar-ios {
        background-color: lighten($black, 60%) !important;
        border: none !important;
    }
    .segment-ios .segment-button:first-of-type {
        border-bottom-left-radius: 0px;
    }
    .segment-ios .segment-button:last-of-type {
        border-bottom-right-radius: 0px;
    }
}
