<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Edit Prifile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines class="form-profile">
        <ion-item>
            <ion-thumbnail item-start>
                <ion-icon name="md-camera"></ion-icon>
                <img src="assets/imgs/Layer30.png">
            </ion-thumbnail>
            <ion-label stacked>Your Name</ion-label>
            <ion-input type="text" value="Johan Deo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Email address</ion-label>
            <ion-input type="email" value="johandeo12@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input type="text" value="+91 9876543210"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Residence City</ion-label>
            <ion-input type="text" value="Andheri (E), Maharastra"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block>Update Profile</button>
</ion-content>
