page-profileedit {
    .form-profile {
        margin-bottom: 5rem;
        ion-thumbnail {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            width: 85px !important;
            height: 85px !important;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            img {
                width: 85px !important;
                height: 85px !important;
                display: block;
            }
            ion-icon {
                position: absolute;
                z-index: 2;
                color: lighten($black, 60%);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 18px;
                height: 18px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 1;
                top: 0;
            }
        }
        .item-inner,
        .item {
            border: none !important;
            box-shadow: none !important;
            .label {
                color: darken($black, 45%);
                font-weight: 600;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                margin-top: 2.5rem;
            }
        }
        .input {
            border: 1px solid lighten($black, 45%) !important;
            box-shadow: none !important;
            border-radius: 5px;
            padding: 10px 16px;
            .text-input {
                margin: 0;
                color: lighten($black, 20%);
            }
        }
    }
}
