<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Notification</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-margin no-lines>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/Layer2.png" />
            </ion-avatar>
            <h2>New property in your area</h2>
            <p>Near Worli Sea Link, Worli, Mumbai.</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/Layer4.png" />
            </ion-avatar>
            <h2>Hurry ! Book with 5 Lakh.</h2>
            <p>Near Worli Sea Link, Worli, Mumbai.</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/Layer6.png" />
            </ion-avatar>
            <h2>New property in your area</h2>
            <p>Near Worli Sea Link, Worli, Mumbai.</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/Layer23.png" />
            </ion-avatar>
            <h2>Hurry ! Book with 5 Lakh.</h2>
            <p>Near Worli Sea Link, Worli, Mumbai.</p>
        </ion-item>
    </ion-list>
</ion-content>
