page-notification {
    ion-list.list {
        margin-top: 10px;
        .item {
            margin-bottom: 4px;
            h2 {
                font-size: 1.7rem;
                font-weight: 500;
                color: $black;
            }
            p {
                color: lighten($black, 35%);
                font-size: 1.2rem;
                margin-top: 5px;
            }
            ion-avatar {
                width: 55px;
                height: 55px;
                position: relative;
                img {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -50%;
                    right: -50%;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
