<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Terms & condition</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="tnc">
        <h2>Condition of use</h2>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text. Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>

        <h2>Privacy</h2>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text. Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>

        <h2>Terms of documents</h2>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
        <p>Multi-line lists are identical to regular lists, except items have multiple lines of text. Multi-line lists are identical to regular lists, except items have multiple lines of text.</p>
    </div>
</ion-content>
