page-tnc {
    .tnc {
        padding: 10px 5px;
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 20px;
        }
        p {
            font-size: 1.4rem;
            color: lighten($black, 25%);
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}
