<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end margin-left margin-right>
            <button ion-button clear no-padding>
            Help?
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <figure class="home-img" text-center>
        <img src="assets/imgs/home.png">
    </figure>
    <div class="detail">
        <h4 text-center>Enter your phone number to showcase of properties</h4>
        <p text-center>It will take less than a minutes</p>
    </div>

    <ion-list no-lines class="form">
        <ion-item>
            <ion-input type="number" placeholder="Your Phone Number"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="password()">Next</button>
    <button ion-button block outline (click)="register()">New user?</button>
</ion-content>
