//font css
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
* {
    font-family: 'Ubuntu', sans-serif;
}

//variables of color
$theme: #4b75fd;
$black: #666666;
$red:#ff0000;
//button style
.scroll-content {
    overflow: hidden;
    overflow-y: auto;
}

.bg-light {
    background-color: lighten($black, 53%);
}

.button {
    text-transform: none;
    font-weight: 400;
    min-height: 4.25rem;
    font-size: 1.5rem;
    letter-spacing: .5px;
    border-radius: 5px;
    &.button-default {
        background-color: $theme;
    }
    &.button-small {
        min-height: 3.25rem;
        font-size: 1.4rem;
    }
}

.bar-button {
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 400;
}

//toolbar-background css
ion-header {
    .toolbar-background {
        background-color: transparent;
    }
    &::after {
        display: none;
    }
    .back-button-icon::before {
        content: "\f3cf";
        color: lighten($black, 15%);
    }
    &.bg-theme {
        .toolbar-background {
            background-color: $theme;
        }
        .back-button-icon::before,
        * {
            color: lighten($black, 60%);
        }
    }
}

//form css
.list-ios.form,
.form {
    .item {
        border: 1px solid lighten($black, 45%) !important;
        box-shadow: none !important;
        border-radius: 5px;
        &.input-has-focus {
            border: 1px solid $theme !important;
        }
        .item-inner {
            border: none !important;
            box-shadow: none !important;
            .text-input {
                font-size: 1.4rem;
            }
        }
        &.list-header {
            border: none !important;
            min-height: 2rem;
            height: 2rem;
            margin-bottom: .6rem;
            padding: 0;
            font-weight: 600;
            font-size: 1.5rem;
            color: darken($black, 40%) !important;
        }
    }
}

//menu css
#myMenu {
    ion-header {
        background-image: url(../assets/imgs/homebanner.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            background: #fff;
            display: block;
            width: 115%;
            position: absolute;
            height: 100px;
            transform: rotate(7deg);
            bottom: -70px;
            left: -10px;
        }
        .item {
            background-color: transparent;
            padding: 40px 32px 80px;
            p,
            h2 {
                color: lighten($black, 60%);
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
            ion-avatar {
                width: 50px;
                height: 50px;
                position: relative;
                img {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -50%;
                    right: -50%;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .scroll-content {
        background-image: url(../assets/imgs/menu-bottom-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        .item {
            padding-left: 32px;
            background-color: transparent;
            ion-icon {
                font-size: 2rem;
                color: $theme;
                line-height: 28px;
                margin-top: 7px;
                margin-bottom: 8px;
            }
            .item-inner {
                margin-left: 16px;
            }
        }
        p {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
}

//scrool card css
.card.items-div {
    position: relative;
    background-color: lighten($black, 60%);
    overflow: visible;
    .like {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 2;
        color: lighten($black, 60%);
    }
    .scrol-items-div {
        height: 180px;
        white-space: nowrap;
        margin-bottom: -30px;
        min-width: 100vw;
        margin-left: -10px;
    }
    .scroll-content {
        padding: 5px 16px !important;
        background-color: transparent;
        .scroll-item {
            width: 230px;
            display: inline-block;
            box-shadow: 0px 15px 40px -20px #999999;
            margin: 0 2px;
            height: 150px;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 16px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .card-content {
        padding: 8px 0px 8px 16px;
        .item-inner {
            font-size: 1.5rem;
            color: $black;
            font-weight: 500;
            small {
                margin-top: 10px;
                display: block;
                color: lighten($black, 25%);
            }
        }
    }
}

//ios css
.list-ios {
    .item {
        border: none !important;
    }
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
    border-color: rgba(0, 0, 0, 0);
}

.back-button-text {
    display: none;
}
