<ion-menu [content]="content" id="myMenu">
    <ion-header menuClose (click)="profile()">
        <ion-list no-margin no-lines>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/Layer30.png" />
                </ion-avatar>
                <h2>{{getfullname}}</h2>
                <p>View Profile</p>
            </ion-item>
        </ion-list>
    </ion-header>

    <ion-content>
        <ion-list no-margin no-lines>
            <ion-item menuClose (click)="home()">
                <ion-icon name="md-home" item-start></ion-icon>
                Home
            </ion-item>
            <ion-item menuClose (click)="shortlisted()">
                <ion-icon name="md-heart" item-start></ion-icon>
                Shortlisted
            </ion-item>
            <ion-item menuClose (click)="chatlist()">
                <ion-icon name="md-chatbubbles" item-start></ion-icon>
                My Chat
            </ion-item>
            <ion-item menuClose (click)="setting()">
                <ion-icon name="md-cog" item-start></ion-icon>
                Settings
            </ion-item>
            <ion-item menuClose (click)="tnc()">
                <ion-icon name="md-document" item-start></ion-icon>
                Terms & condition
            </ion-item>
            <ion-item menuClose (click)="about()">
                <ion-icon name="md-information-circle" item-start></ion-icon>
                About us
            </ion-item>
            <ion-item menuClose (click)="contact()">
                <ion-icon name="md-call" item-start></ion-icon>
                Contact us
            </ion-item>
            <!--
<ion-item menuClose (click)="rateus()">
    <ion-icon name="md-thumbs-up" item-start></ion-icon>
    Rate us
</ion-item>
-->
            <ion-item menuClose (click)="signin()">
                <ion-icon name="md-walk" item-start></ion-icon>
                Sign Out
            </ion-item>
        </ion-list>
        <p text-center> &copy; All right reserved | Opus Labs</p>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
