page-search {
    .item {
        box-shadow: none !important;
        border-bottom: 1px solid lighten($black, 40%) !important;
        margin-bottom: 5.5rem;
        ion-icon {
            color: lighten($black, 40%) !important;
            font-size: 2.5rem;
        }
    }
    ion-input {
        font-size: 2rem;
        color: darken($black, 20%);
    }
    .option {
        .button {
            background-color: lighten($black, 60%);
            color: $black;
            box-shadow: none;
            border: 1px solid lighten($black, 45%);
            &.active {
                padding-right: 4rem;
                background-color: $theme;
                color: lighten($black, 60%);
                &::before {
                    display: inline-block;
                    font-family: "Ionicons";
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: 1;
                    text-rendering: auto;
                    text-transform: none;
                    speak: none;
                    content: "\f2bc";
                    position: absolute;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 14px;
                }
            }
        }
    }
    .card.items-div {
        .item {
            margin-bottom: 0;
            border: none !important;
        }
    }
}
