<ion-header>
    <ion-navbar>
        <ion-title>Add location</ion-title>
        <ion-buttons end margin-left margin-right>
            <button ion-button clear no-padding>
            Reset
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--    <ion-searchbar placeholder="Search Location"></ion-searchbar>-->
    <ion-list>
        <ion-item no-padding>
            <!--            <ion-label floating>Search Location</ion-label>-->
            <ion-input type="text" placeholder="Search Location"></ion-input>
            <ion-buttons item-end margin-left margin-right>
                <ion-icon name="md-locate"></ion-icon>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <h6>Popular Location</h6>
    <div class="option" padding-bottom>
        <button ion-button small class="active">Worli</button>
        <button ion-button small class="active">Bandra</button>
        <button ion-button small>Andheri</button>
        <button ion-button small>Borivali</button>
        <button ion-button small class="active">Jogeshwari</button>
        <button ion-button small>Juhu</button>
    </div>

    <button ion-button block (click)="result()">Search</button>
    <div class="" style="margin-left: -16px;margin-right: -16px;">
        <ion-card class="items-div" (click)="detail()">
            <ion-icon name="md-heart" class="like"></ion-icon>
            <ion-scroll scrollX class="scrol-items-div">
                <div class="scroll-item">
                    <img src="assets/imgs/Layer6.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer23.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer2.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer4.png" />
                </div>
            </ion-scroll>

            <ion-card-content>
                <ion-list>
                    <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card class="items-div" (click)="detail()">
            <ion-icon name="md-heart" class="like"></ion-icon>
            <ion-scroll scrollX class="scrol-items-div">
                <div class="scroll-item">
                    <img src="assets/imgs/Layer4.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer2.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer23.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer6.png" />
                </div>
            </ion-scroll>

            <ion-card-content>
                <ion-list>
                    <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card class="items-div" (click)="detail()">
            <ion-icon name="md-heart" class="like"></ion-icon>
            <ion-scroll scrollX class="scrol-items-div">
                <div class="scroll-item">
                    <img src="assets/imgs/Layer6.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer23.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer2.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer4.png" />
                </div>
            </ion-scroll>

            <ion-card-content>
                <ion-list>
                    <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card class="items-div" (click)="detail()">
            <ion-icon name="md-heart" class="like"></ion-icon>
            <ion-scroll scrollX class="scrol-items-div">
                <div class="scroll-item">
                    <img src="assets/imgs/Layer4.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer2.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer23.png" />
                </div>
                <div class="scroll-item">
                    <img src="assets/imgs/Layer6.png" />
                </div>
            </ion-scroll>

            <ion-card-content>
                <ion-list>
                    <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>
