<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Shortlisted</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="chatlist()">
            <ion-icon name="md-chatbubbles"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="items-div" (click)="detail()">
        <ion-icon name="md-heart" class="like"></ion-icon>
        <ion-scroll scrollX class="scrol-items-div">
            <div class="scroll-item">
                <img src="assets/imgs/Layer4.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer2.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer23.png" />
            </div>
            <div class="scroll-item">
                <img src="assets/imgs/Layer6.png" />
            </div>
        </ion-scroll>

        <ion-card-content>
            <ion-list>
                <button ion-item no-padding>
                            Alise Altezza<br>
                            <small>Near worli sea link, worli, Mumbai.</small>
                            <ion-buttons item-end text-right>$750K<br><small>3BHK | 4500sq.ft</small></ion-buttons>
                        </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
