page-setting {
    ion-list {
        margin-bottom: 3.5rem !important;
        padding-left: 10px;
    }
    ion-list-header {
        padding-left: 0 !important;
        .label {
            color: darken($black, 40%);
            font-size: 1.6rem;
            font-weight: 600;
        }
        border: none !important;
        margin-bottom: 0 !important;
    }
    .label {
        font-size: 1.5rem;
        color: lighten($black, 10%);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .item {
        min-height: 1rem;
    }
}
