<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list radio-group no-lines>
        <ion-list-header>
            Manage Notification
        </ion-list-header>
        <ion-item>
            <ion-label>For Matched Properties</ion-label>
            <ion-toggle checked="true"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>For New Launched Projects</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Latest Property News</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list radio-group no-lines>
        <ion-list-header>
            Frequency of Notification
        </ion-list-header>
        <ion-item>
            <ion-label>Daily</ion-label>
            <ion-radio value="Daily"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Alternate Day</ion-label>
            <ion-radio value="Alternate" checked="true"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Weekly</ion-label>
            <ion-radio value="Weekly"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>
