<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
        <ion-buttons end margin-left margin-right>
            <button ion-button clear (click)="shortlisted()">
                <ion-icon name="md-heart-outline"></ion-icon>
            </button>
            <button ion-button clear>
                <ion-icon name="md-share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="header-img">
        <img src="assets/imgs/Layer4.png">
        <ion-icon name="md-star" (click)="rateus()"></ion-icon>
    </div>
    <ion-list no-lines class="few-details">
        <ion-item>
            <h1>Alise Altezza</h1>
            <p>Near worli sea Link,Worli, Mumbai.</p>
            <button ion-button clear item-end>$750k</button>
        </ion-item>
        <ion-item>
            <div item-start>
                <p>Area(sq.fit)</p>
                <h2>4500</h2>
            </div>
            <div item-end>
                <p>Configuration</p>
                <h2>3 Bed & 3 Bathrooms</h2>
            </div>
        </ion-item>
    </ion-list>
    <div class="prduucts-detail">
        <p>About Alise Altezza</p>
        Ionic apps are made of high-level building blocks called components. Components allow you to quickly construct
        an interface for your app. Ionic comes with a number of components, including modals, popups, and cards. Check
        out the examples below to see what each component looks like and to learn how to use each one.<br><br>
    </div>
    <div class="prduucts-detail">
        <p>Project Amenities</p>
        <ul>
            <li>Landscape Gardan</li>
            <li>Jogging Track</li>
            <li>Power Backup</li>
            <li>Complete RCC Structure</li>
            <li>Designer Door Frames</li>
            <li>PVC Concealed wiring</li>
        </ul>
    </div>
    <img src="assets/imgs/map.png">
    <div class="other-detail">
        <h5><small>Neighbourhood</small>View in Map</h5>
        <ion-list no-lines>
            <ion-item *ngFor="let d of data">
                <h3>{{d.title}}</h3>
                <ion-note item-end (click)="toggleDetails(d)">+</ion-note>
                <div *ngIf="d.showDetails">
                    <p>{{d.details1}}<span>{{d.details2}}</span></p>
                    <p>{{d.details3}}<span>{{d.details4}}</span></p>
                    <p>{{d.details5}}<span>{{d.details6}}</span></p>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <div class="posted">
        <ion-list no-lines>
            <ion-list-header>Posted by</ion-list-header>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/Layer30.png">
                </ion-avatar>
                <h2>John Doe</h2>
                <p>Owner</p>
                <button ion-button item-end icon-start small (click)="chat()">
                    <ion-icon name="md-chatbubbles"></ion-icon>Chat
                </button>
            </ion-item>
        </ion-list>

    </div>
</ion-content>
