page-detail {
    ion-header {
        .back-button-icon::before,
        .toolbar-title,
        .icon {
            color: lighten($black, 60%);
        }
    }
    .scroll-content {
        margin-top: 0 !important;
    }
    .header-img {
        position: relative;
        width: 100%;
        height: 250px;
        img {
            min-width: 100%;
            position: absolute;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        ion-icon {
            position: absolute;
            bottom: -15px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            right: 20px;
            font-size: 3rem;
            color: lighten($black, 60%);
            background-color: $theme;
            box-shadow: -1px 18px 50px -15px lighten($black, 20%);
            z-index: 2;
        }
    }
    .few-details {
        margin-bottom: 3px;
        .label {
            margin-top: 3rem;
        }
        h1 {
            font-weight: 600;
            font-size: 1.9rem;
            color: darken($black, 40%);
            margin-bottom: 10px;
        }
        h2 {
            font-weight: 500;
            font-size: 1.8rem;
            color: darken($black, 40%);
            margin-bottom: 10px;
        }
        p {
            font-size: 1.3rem;
            color: lighten($black, 30%);
        }
        .item-button {
            margin: 0 !important;
            .button-inner {
                font-weight: 600;
                font-size: 1.9rem;
                color: darken($black, 40%);
                margin-bottom: 10px;
            }
        }
    }
    .prduucts-detail {
        background-color: lighten($black, 60%);
        padding: 1px 16px;
        font-size: 1.3rem;
        line-height: 1.4;
        margin-bottom: 5px;
        p {
            font-size: 1.3rem;
            color: lighten($black, 40%);
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                padding-left: 3rem;
                position: relative;
                font-size: 1.3rem;
                line-height: 1.5;
                &::before {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    display: block;
                    border-radius: 50%;
                    top: 6px;
                    z-index: 1;
                    left: 1rem;
                    background: $theme;
                }
            }
        }
    }
    .other-detail {
        padding: 1px 16px;
        background-color: lighten($black, 60%);
        margin-bottom: 5px;
        .item {
            padding-left: 0;
            .label {
                h3 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: darken($black, 40%);
                }
                div {
                    p {
                        display: flex;
                        margin: 0;
                        line-height: 2.5;
                        margin: 0;
                        font-size: 1.4rem;
                        color: lighten($black, 20%);
                        span {
                            margin-left: auto;
                        }
                    }
                }
            }
            .note {
                font-size: 2.3rem;
                color: $theme;
                font-weight: 600;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .posted {
        padding: 1px;
        background-color: lighten($black, 60%);
        .item {
            margin: 0;
            .label {
                h2 {
                    font-size: 1.7rem;
                    font-weight: 600;
                    color: darken($black, 40%);
                }
            }
        }
    }
}
