<ion-header>
    <ion-navbar>
        <ion-buttons end margin-left margin-right>
            <button ion-button clear no-padding>
            Help?
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <figure class="home-img" text-center>
        <img src="assets/imgs/home.png">
    </figure>
    <div class="detail">
        <h4 text-center>Hey Johan ! you're already registered with us.</h4>
        <p text-center>Enter your password to continue.</p>
    </div>

    <ion-list no-lines class="form">
        <ion-item>
            <ion-input type="number" placeholder="Enter your 6 digit password"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="home()">Sign in</button>
    <button ion-button block outline (click)="fogotpassword()">Forgot Password?</button>
</ion-content>
