page-password {
    .scroll-content {
        padding-left: 32px !important;
        padding-right: 32px !important;
        .home-img {
            width: 100%;
            margin: auto;
            max-width: 220px;
        }
        .detail {
            margin: 2rem auto 4rem;
            max-width: 250px;
            h4 {
                font-size: 1.8rem;
                color: darken($black, 20%);
            }
            p {
                color: lighten($black, 20%);
            }
        }
        .form {
            margin-bottom: 2rem;
        }
        .form+.button {
            margin-bottom: 1.5rem;
        }
    }
}
