page-rateus {
    .bg-light {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
    .scroll-content {
        margin-top: 0 !important;
    }
    .card {
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 5px;
        .card-header {
            font-size: 1.8rem;
            font-weight: 600;
            color: darken($black, 40%);
            padding-bottom: 5px;
        }
        .card-content {
            padding: 0 8px 8px 8px;
            p {
                color: lighten($black, 30%);
                font-size: 1.6rem;
            }
            .star {
                font-size: 2.8rem;
                color: lighten($black, 40%);
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .row {
                padding: 0;
                .col {
                    button {
                        margin: 0;
                        &.light {
                            background-color: lighten($black, 60%);
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
