<!--
<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Rate us</ion-title>
    </ion-navbar>
</ion-header>
-->

<ion-content padding class="bg-light">
    <ion-card text-center>
        <ion-card-header>
            Rate us
        </ion-card-header>
        <ion-card-content>
            <p>Hey.Love us? Express it!</p>
            <div class="star">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </div>
            <ion-row>
                <ion-col col-6>
                    <button ion-button col block class="light" (click)="close()">Remind Later</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button col block>Rate it</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
